<div class="pagination">
  <a class="pagination-prev" app-my-button buttonType="nav" icon="arrow-left">
    Anterior
  </a>
  <a class="pagination-next" app-my-button buttonType="nav" icon="arrow-right" iconPosition="right">
    Próxima página
  </a>
  <ul class="pagination-list">
    <li class="pagination-item">
      <a class="pagination-link" href=""><<</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link" href="">03</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link active" href="">04</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link" href="">05</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link" href="">06</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link" href="">07</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link" href="">>></a>
    </li>
  </ul>
</div>
