<div class="pagination">
  <a class="pagination-prev">
    <svg width="14" height="14" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1216 448v896q0 26-19 45t-45 19-45-19l-448-448q-19-19-19-45t19-45l448-448q19-19 45-19t45 19 19 45z"/></svg>
    Anterior
  </a>
  <a class="pagination-next">
    Próxima página
    <svg width="14" height="14" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1152 896q0 26-19 45l-448 448q-19 19-45 19t-45-19-19-45v-896q0-26 19-45t45-19 45 19l448 448q19 19 19 45z"/></svg>
  </a>
  <ul class="pagination-list">
    <li class="pagination-item">
      <a class="pagination-link" href=""><<</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link" href="">03</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link active" href="">04</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link" href="">05</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link" href="">06</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link" href="">07</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link" href="">>></a>
    </li>
  </ul>
</div>
