@import '../assets/scss/config';

.content {
  padding: 10px 0;
}

.sidebar {
  @include x-column(24);

  @media(min-width: $screen-desktop) {
    width: x-gridsystem-width(6);
  }
}

.mainContent {
  @include x-column(24);

  @media(min-width: $screen-desktop) {
    width: x-gridsystem-width(18);
  }
}

.box {
  margin-bottom: 10px;
}
