/* ==========================================================================
   Variables
   ========================================================================== */
@import '../../assets/scss/config';

/* ==========================================================================
   Filter Componentl
   ========================================================================== */
.filter {
  display: none;

  @media(min-width: $screen-desktop) {
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    display: block;
    overflow: hidden;
  }
}

.filter.on {
  background: #fff;
  display: block;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.filter-title {
  background: #fafafa;
  border-bottom: 1px solid #d0d0d0;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 15px 10px;
  text-align: center;
}

.filter-content {}

.filter-list {}

.filter-text,
.filter-subtext {
  border-top: 1px solid #ebebeb;
  display: block;
  padding: 15px 0;
}

.filter-link,
.filter-sublink {
  display: block;
  font-size: 14px;
  padding: 0 10px;
  text-decoration: none;

  &:hover {
    background: #2195db;
    color: #fff;

    .filter-text,
    .filter-subtext {
      border-top: 1px solid transparent;
    }
  }
}

.filter-item {
  &:first-child .filter-text,
  &:first-child .filter-subtext {
    border-top: 1px solid transparent;
  }
}

.filter-sublist {
  display: none;
}

.filter-item--open {
  .filter-sublist {
    background: #fff;
    display: block;
  }
}

.filterMobile {
  @include x-clearfix;
}

.filterMobile-text {
  margin-bottom: 5px;
  text-transform: uppercase;
}

.filterMobile-field {
  padding-right: 60px;
  position: relative;
}

.filterMobile-button {
  background: #fff;
  border: 1px solid #d0d0d0!important;
  border-radius: 5px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  width: 50px;
}

.filterMobile-button-text {
  color: #333;
  display: block;
  font-size: 9px;
  text-align: center;
  text-transform: uppercase;
}

