<div class="adverts">
  <header class="adverts-header">
    <div class="adverts-header-results">
      <p><strong class="adverts-header-results-highlight">8.234.908</strong> Resultados para essa busca</p>
    </div>
    <button type="button" app-my-button icon="heart" buttonType="secundary" class="adverts-header-button">Salvar busca</button>
  </header>
  <ul class="adverts-list">
    <li *ngFor="let advert of adverts" class="adverts-item">
      <a class="adverts-link" href="">
        <figure class="adverts-figure">
          <img class="adverts-image" src="{{ advert.image }}">
        </figure>
        <div class="adverts-description">
          <strong class="adverts-text">
            {{ advert.name }}
            <span class="adverts-description-price">
              <em class="adverts-price">{{ advert.price }}</em>
              <em class="adverts-time">{{ advert.time }}</em>
            </span>
          </strong>
          <div class="adverts-description-bottom desktopOnly">
            <span class="adverts-specifications">{{ advert.specifications }}</span>
            <strong class="adverts-local">{{ advert.local }}</strong>
          </div>
        </div>
      </a>
    </li>
  </ul>
  <app-pagination class="adverts-pagination"></app-pagination>
</div>
