/* ==========================================================================
   Variables
   ========================================================================== */
@import '../../assets/scss/config';

/* Color
 ========================================================================== */
$searchInput-border-color: #cfcfcf;
$searchInput-icon-color: #757575;

/* ==========================================================================
   Search Input Component
   ========================================================================== */
.searchInput {
}

.searchInput-group {
  margin: 0;
  position: relative;
}

.searchInput-group--extra {
  display: none;
  margin-top: 10px;

  @media(min-width: $screen-desktop) {
    display: block;
  }
}

.searchInput-field--checkbox {
  float: left;
}

.searchInput-label--checkbox {
  color: #333;
  font-size: 11px;
  line-height: 1.7;
}

.searchInput-field {
  border: 1px solid $searchInput-border-color;
  border-radius: 4px;
  font-size: 13px;
  height: 42px;
  outline: none;
  padding: 15px 12px;
  padding-right: 50px;
  width: 100%;
}

.searchInput-action {
  background: none;
  border: none;
  cursor: pointer;
  height: 40px;
  outline: none;
  padding: 10px;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 40px;
}

.searchInput-action-icon {
  fill: $searchInput-icon-color;
}
