<div class="row">
  <nav class="breadcrumb">
    <ul class="breadcrumb-list">
      <li class="breadcrumb-item">
        <a class="breadcrumb-link" href="">RJ</a>
      </li>
      <li class="breadcrumb-item">
        <a class="breadcrumb-link" href="">Rio de Janeiro e região</a>
      </li>
      <li class="breadcrumb-item">
        <a class="breadcrumb-link" href="">Carros</a>
      </li>
      <li class="breadcrumb-item">
        <a class="breadcrumb-link" href="">Fiat</a>
      </li>
      <li class="breadcrumb-item">
        <a class="breadcrumb-link" href="">Palio</a>
      </li>
      <li class="breadcrumb-item">
        <a class="breadcrumb-link" href="">Zona Norte</a>
      </li>
      <li class="breadcrumb-item">
        <strong class="breadcrumb-highlight">São Cristovão</strong>
      </li>
    </ul>
  </nav>
</div>
